<div class="container">
  <div class="header">
    <h2 class="title" *ngIf="heroe">Editar Heroe</h2>
    <h2 class="title" *ngIf="!heroe">Crear Heroe</h2>

  </div>

  <form [formGroup]="heroeForm">
    <mat-form-field class="w-100">
      <mat-label>Nombre</mat-label>
      <input
        formControlName="superhero"
        matInput
        placeholder="Nombre del heroe"
        appUppercase
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Alter Ego</mat-label>
      <input formControlName="alter_ego" matInput placeholder="Alter Ego" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Primera Aparición</mat-label>
      <input
        formControlName="first_appearance"
        matInput
        placeholder="Primera Aparición"
      />
    </mat-form-field>

    <button
      *ngIf="!heroe"
      type="button"
      mat-flat-button
      [color]="'primary'"
      [disabled]="loading || heroeForm.invalid"
      (click)="createHeroe()"
      class="m-r-10"
    >
      <mat-progress-spinner
        *ngIf="loading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Crear Heroe</span>
    </button>

    <button
      *ngIf="heroe"
      type="button"
      mat-flat-button
      [color]="'primary'"
      [disabled]="loading || heroeForm.invalid"
      (click)="editHeroe()"
      class="m-r-10"
    >
      <mat-progress-spinner
        *ngIf="loading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Editar Heroe</span>
    </button>

    <button
    
      type="button"
      mat-flat-button
      [color]="'primary'"
      (click)="close()"
     
    >
   
      <span>Cerrar</span>
    </button>
  </form>
</div>
